<section class="section jumbotron">
		<div class="fixed-width">
			<h2 class="md-title upper">Lambda Summer of Code 2017 Program Rules</h2>
			<ol class="custom-list nested-counter">
				<li>
					<strong class="underline">Program Administration</strong>.
					<ol class="custom-list nested-counter">
						<li>
							<span class="underline">Changes to the Program</span>.
							<ol class="custom-list letter-brackets">
								<li>lambda, IITH may suspend, cancel, or modify the structure of the Program if technical difficulties or events beyond Lambda’s reasonable control prevent or make it unfair to run the Program in accordance with these Program Rules.</li>

								<li>Lambda may modify these Program Rules to reflect any modifications to the Program. Any changes made will be effective immediately upon notice, which will be given by posting the revised Program Rules on this page.  Continued participation in the Program after such notice will be deemed acceptance of such changes.</li>

							</ol>
						</li>
						<li>
							<span class="underline">Conduct</span>.
							Participants must use professional and courteous conduct when interacting with other Participants and the Program Administrators. If a Participant does not use such conduct, Lambda may remove the Participant from the Program.
						</li>
						<li>
							<span class="underline">Program Removal</span>.
							In addition to any terms regarding removal from the Program set forth herein, Lambda may remove a Participant from the Program if Lambda reasonably believes that such Participant has attempted to undermine the legitimate operation of the Program, including:
							<ol class="custom-list letter-brackets">
								<li>Providing false eligibility information during registration;</li>
								<li>Breaching or refusing to comply with these Program Rules;</li>
								<li>Threatening or harassing other Participants, Lambda, or any Organization including their employees and representatives;</li>
								<li>Tampering or interfering with administration of the Program or with the ability of other Participants to participate in the Program;</li>
								<li>Submitting content that:
									<ol class="custom-list roman-brackets">
										<li>is not original,</li>
										<li>violates the rights of a third party</li>
										<li>is lewd, obscene, pornographic, racist, sexist, or otherwise inappropriate to the Program, or</li>
										<li>violates any applicable law</li>
									</ol>
								</li>
								<li>If a Participant is removed from the Program for any reason:
									<ol class="custom-list roman-brackets">
										<li>the Participant will no longer be eligible to receive stipends from Lambda; </li>
										<li>Lambda may delete the Participant’s profile and other data from the Program Website; and</li>
									</ol>
								</li>
							</ol>
						</li>
					</ol>
				</li>
				
				<li>
					<strong class="underline">Mentors</strong>.
					<ol class="custom-list nested-counter">
						<li>
							<span class="underline">Role</span>.
							<ol class="custom-list letter-brackets">
								<li>Upon registration for the Program, mentors shall be approved by Lambda. After approval, mentors must be recognized by Lambda through the Program Website.</li>
							</ol>
						</li>
						<li>
							<span class="underline">Eligibility</span>.
							<ol class="custom-list letter-brackets">
								<li><span class="underline">Requirements</span>. To participate in the Program, a Mentor must:
									<ol class="custom-list roman-brackets">
										<li>not be a Student in the Program.</li>
									</ol>
								</li>
							</ol>
						</li>
						<li>
							<span class="underline">Responsibilities</span>.
							<ol class="custom-list letter-brackets">
								<li>Each Mentor for an accepted project will:
									<ol class="custom-list roman-brackets">
										<li>participate in the Community Bonding Period;</li>
										<li>provide guidance to his or her Student(s) on their Projects for the Organization;</li>
										<li>use best efforts to respond to Student requests within thirty-six (36) hours; and</li>
										<li>provide Evaluations of his or her Student(s)’ work as described below in accordance with the Project Criteria.</li>
									</ol>
								</li>
								<li>If Lambda reasonably believes that a Mentor has failed to meet any of the foregoing responsibilities, Lambda may designate a replacement Mentor.</li>
							</ol>
						</li>
					</ol>
				</li>
				<li>
					<strong class="underline">Students</strong>.
					<ol class="custom-list nested-counter">
						<li>
							<span class="underline">Eligibility</span>.
							<ol class="custom-list letter-brackets">
								<li>
									<span class="underline">Requirements</span>. To participate in the Program, a Student must:
									<ol class="custom-list roman-brackets">
										<li>be enrolled in or accepted into the Indian Institute of Technology, Hyderabad, including a master's program, PhD program and/or undergraduate program, as of the Acceptance Date;</li>
										<li>not be an Project Administrator or Mentor in the Program.</li>
									</ol>
								</li>
							</ol>
						</li>
						<li><span class="underline">How to Apply</span>. Students who wish to apply for acceptance in the Program must:
							<ol class="custom-list letter-brackets">

								<li>submit a Project Proposal.</li>
							</ol>
						</li>
						<li>
							<span class="underline">Project Proposals</span>.
							<ol class="custom-list letter-brackets">
								<li>Students may submit Project Proposals during the application period described in the Program Timeline.</li>
								<li>Each Student may submit up to five (5) Project Proposals; however, only one (1) Project Proposal may be accepted per Student.</li>
								<li>Project Proposals may, but are not required to, be for Projects on the Ideas List.</li>
								<li>If a Project Proposal is for a Project that the Student is already working on, the Student must note this in the Project Proposal. Any work done on the Project prior to acceptance of the Project Proposal will not be considered for Evaluations.</li>
							</ol>
						</li>
						<li>
							<span class="underline">Acceptance</span>.
							<ol class="custom-list letter-brackets">
								<li>Project Proposals will be reviewed by Lambda. Lambda may accept or reject any Project Proposal at its sole discretion.</li>
								<li>Lambda will announce the Project Proposals accepted to the Program on the Program Website.</li>
								<li>Each Student with an accepted Project Proposal will be matched with at least one Mentor from a relevant field.</li>
								<li>Students without an accepted Project Proposal may not continue with the Program and their profiles may be deleted from the Program Website.</li>
							</ol>
						</li>
						<li>
							<span class="underline">Responsibilities</span>.
							<ol class="custom-list letter-brackets">
								<li>Each accepted Student will perform all necessary additional steps required for the Student to participate in the Program, including:
									<ol class="custom-list roman-brackets">
										<li>participating in the Community Bonding Period;</li>
										<li>providing Evaluations of his or her Mentor as described below;</li>
										<li>working diligently to complete the Project as it may be modified with the agreement of Lambda; and</li>
										<li>publishing his or her Project code in a publicly accessible location and under an Open Source Initiative approved license.</li>
									</ol>
								</li>
								<li>If Lambda reasonably believes that a Student has failed to meet the foregoing responsibilities, Lambda may remove such Student from the Program.</li>
							</ol>
						</li>
					</ol>
				</li>
				<li>
					<strong class="underline">Program Participation</strong>.
					<ol class="custom-list nested-counter">
						<li><span class="underline">Evaluations</span>.
							<ol class="custom-list letter-brackets">
								<li>
									<span class="underline">Multiple Mentors</span>. If a Student has more than one Mentor:
									<ol class="custom-list roman-brackets">
										<li>the Student is only required to submit an overall Evaluation of the Mentors; and</li>
										<li>only one Mentor is required to submit an Evaluation of the Student. If more than one Mentor submits an Evaluation, only the final Evaluation submitted before the deadline will be accepted.</li>

									</ol>
								</li>
								<li><span class="underline">Form</span>. Evaluations must be in the form of responses to questions provided by Lambda.</li>
								<li><span class="underline">Deadlines</span>. Students and Mentors must submit Evaluations through the Program Website by the deadlines set forth in the Program Timeline. Evaluations are given at two (2) points: mid-term and final.</li>
								<li>
									<span class="underline">Visibility</span>.
									<ol class="custom-list roman-brackets">
										<li>Except for any fields labeled “shared with student” (“<strong>Shared Comments</strong>”), Evaluations submitted by a Mentor will only be visible to the Administrators, the Student’s other Mentor(s) if applicable, and the Program Administrators. The Student will only see a pass/fail grade result and any Shared Comments.</li>
										<li>Evaluations submitted by a Student will only be visible to the Organization Administrators and Program Administrators.  The Mentor(s) will not see these Evaluations, except where the Mentor and Organization Administrator are one and the same.</li>

										<li>Notwithstanding anything to the contrary in subsections (i) and (ii) above:
											<ol class="custom-list letter-brackets-upper">
												<li>Lambda may make Evaluations available to third parties, or the Organization or Student, as applicable:
													<ol class="custom-list number-brackets">
														<li>upon the Student’s prior written consent, as applicable; or</li>
														<li>if Lambda deems such action necessary to administer the Program (e.g., where the Program Administrators need assistance from other Lambda employees in their review to reconsider a Student’s grade or where the feedback may be vital to arbitration with the Student regarding payment or non-payment of a stipend).</li>
													</ol>
												</li>
												<li>Lambda may use Evaluations internally to improve Lambda Summer of Code.</li>
											</ol>
										</li>
									</ol>
								</li>
								<li>
									<span class="underline">Grading; Missing Deadlines</span>.
									<ol class="custom-list roman-brackets">
										<li>The Mentor will evaluate the Student’s Project Submissions against the Project Criteria.</li>
										<li>If a Student fails to submit an Evaluation by the applicable deadline, the Student will be deemed to have received a failing grade on the Evaluation, regardless of the actual grade the Student received from the Mentor.</li>
										<li>If a Student receives a failing grade on the Phase 1 or Phase 2  Evaluation, the Student will be removed from the Program.</li>
										<li>If a Student does not agree with the grade he or she received, the Student may request a review by Program Administrators to reconsider the grade.  In the event that the Program Administrators agree to perform the review, their decision on the grade is final and binding.</li>
										<li>If an Administrator does not agree with the grade given by the Mentor to a Student, the Administrator may submit an updated Evaluation, which will supersede the original Evaluation.</li>
										<li>Final Project Materials.  Students must submit their Final Project Materials through the Program Website by the Final Evaluation deadline.  If a Student fails to do so, the Student will be deemed to have received a failing grade on the final Evaluation, regardless of the actual grade the Student received from the Mentor.</li>
									</ol>
								</li>
								<li>
									<span class="underline">Final Project Materials</span>. Students must submit their Final Project Materials through the Program Website by the final Evaluation deadline.  If a Student fails to do so, the Student will be deemed to have received a failing grade on the final Evaluation, regardless of the actual grade the Student received from the Mentor.
								</li>
							</ol>
						</li>
						<li>
							<span class="underline">Payment</span>.
							<ol class="custom-list letter-brackets">
								<li><span class="underline">Stipends</span>. Subject to subsection (b) below, Students and Mentors may receive stipends from Lambda as follows:
									<ol class="custom-list roman-brackets">
										<li>Students. Stipends for Students are at Lambda's sole discretion.
											<ol class="custom-list letter-brackets-upper">
												<li>Each Student who has received a passing Phase 1 Evaluation and who has submitted the Phase 1 Evaluation of his or her Mentor on time may receive a stipend after the Phase 1 Evaluation deadline.</li>
												<li>Each Student who has received a passing Phase 2 Evaluation and who has submitted the Phase 2 Evaluation of his or her Mentor on time may receive a stipend after the Phase 2 Evaluation deadline.</li>
												<li>Each Student who has received a passing Final Evaluation and who has submitted the Final Evaluation of his or her Mentor on time may receive a stipend after the Final Evaluation deadline.</li>
											</ol>
										</li>
										<li>Lambda is not required to pay any stipends to any Student or Mentor who violates any applicable law or regulation, including money laundering regulations.</li>
									
								</ol></li>
								<li><span class="underline">Final Results</span>. Lambda will announce the Final Results on the Program Website.</li>
							</ol>
						</li>
						<li><strong class="underline">Disclaimer</strong>.  <span class="upper">PARTICIPANTS’ USE OF THE PROGRAM WEBSITE AND PARTICIPATION IN THE PROGRAM IS AT EACH PARTICIPANT’S SOLE RISK. THE PROGRAM WEBSITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. Lambda DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES (EXPRESS OR IMPLIED), INCLUDING ANY WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. Lambda IS NOT RESPONSIBLE FOR ANY INCOMPLETE, FAILED, OR DELAYED TRANSMISSION OF INFORMATION DUE TO THE INTERNET, INCLUDING INTERRUPTION OR DELAYS CAUSED BY EQUIPMENT OR SOFTWARE MALFUNCTION OR OTHER TECHNICAL PROBLEMS.</span></li>
					</ol>
				
			
		</div>
	</section>