<div class="main-content container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="title-get-involved" >Lambda Summer of Code, 2017</div>
            <br><br><br>
            <div class="description">
            Lambda Summer of Code is a program focused on introducing students to open source software development. Students work on a 3 month open source programming project during their break from university.
            <br><br>
            As a part of Lambda Summer of Code, student participants are paired with a mentor from a relevant domain, gaining exposure to real-world software development and techniques. Students have the opportunity to spend the summer earning a stipend while working in areas related to their interests.
                <br>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
    	<div class="title-get-involved"> How it works</div>
</div>