<div class="main-content container-fluid">
    <div class="row" style="padding-bottom: 10vh">
        <div class="col-md-8 col-md-offset-2">
            <div class="title-get-involved" >Lambda Summer of Code, 2017</div>
            <br><br><br>
            <div class="description">
            Lambda Summer of Code is a program focused on introducing students to open source software development. Students work on a 3 month open source programming project during their break from university.
            <br><br>
            As a part of Lambda Summer of Code, student participants are paired with a mentor from a relevant domain, gaining exposure to real-world software development and techniques. Students have the opportunity to spend the summer earning a stipend while working in areas related to their interests.
                <br>
            </div>
        </div>
    </div>

    <div class="row" style="padding-bottom: 3vh">
    	<div class="col-md-8 col-md-offset-2">
	    	<div class="title-get-involved">How it works</div>
    	</div>
    </div>

    <div class="row" style="padding-bottom: 7vh">
    	<div class="col-md-3 col-md-offset-1 text-center">
    		<img src="resources/images/Idea-80.png" width="72px" height="72px" >
    		<div class="subtitle">Apply</div>
    		<div class="description">Interested students propose an idea to work on.</div>
    	</div>

    	<div class="col-md-4 text-center">
    		<img src="resources/images/Code-80.png" width="72px" height="72px">
    		<div class="subtitle">Code</div>
    		<div class="description">Accepted students spend the summer coding with guidance from a mentor.</div>
    	</div>

    	<div class="col-md-3 text-center">
    		<img src="resources/images/money-80.png" width="72px" height="72px">
    		<div class="subtitle">Earn</div>
    		<div class="description">Submit your code for the world to see, and earn!</div>
    		

    	</div>
</div>